.category-list-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    //cursor: pointer;

    & .background-image {
      transform: scale(1.2);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      background-color: white;
      .shop-now {
        opacity: 1;
      }
    }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #212121;
    }
    .shop-now {
      background: linear-gradient(to right, rgb(0, 159, 255), rgb(236, 47, 75));
      color: white;
      opacity: 0.85;
      margin-bottom: 0.4rem;
    }
  }
}
